@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f7f4f2;
  --background-start-rgb: #f7f4f2;
  --background-end-rgb: #f7f4f2;
  white-space: pre-line;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  font-family: 'DM Serif Display', serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
