@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f7f4f2;
  --background-start-rgb: #f7f4f2;
  --background-end-rgb: #f7f4f2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
